.listingblock .pygments .hll { background-color: #49483e }
.listingblock .pygments  { background: #272822; color: #f8f8f2 }
.listingblock .pygments .tok-c { color: #75715e } /* Comment */
.listingblock .pygments .tok-err { color: #960050; background-color: #1e0010 } /* Error */
.listingblock .pygments .tok-k { color: #66d9ef } /* Keyword */
.listingblock .pygments .tok-l { color: #ae81ff } /* Literal */
.listingblock .pygments .tok-n { color: #f8f8f2 } /* Name */
.listingblock .pygments .tok-o { color: #f92672 } /* Operator */
.listingblock .pygments .tok-p { color: #f8f8f2 } /* Punctuation */
.listingblock .pygments .tok-cm { color: #75715e } /* Comment.Multiline */
.listingblock .pygments .tok-cp { color: #75715e } /* Comment.Preproc */
.listingblock .pygments .tok-c1 { color: #75715e } /* Comment.Single */
.listingblock .pygments .tok-cs { color: #75715e } /* Comment.Special */
.listingblock .pygments .tok-gd { color: #f92672 } /* Generic.Deleted */
.listingblock .pygments .tok-ge { font-style: italic } /* Generic.Emph */
.listingblock .pygments .tok-gi { color: #a6e22e } /* Generic.Inserted */
.listingblock .pygments .tok-gs { font-weight: bold } /* Generic.Strong */
.listingblock .pygments .tok-gu { color: #75715e } /* Generic.Subheading */
.listingblock .pygments .tok-kc { color: #66d9ef } /* Keyword.Constant */
.listingblock .pygments .tok-kd { color: #66d9ef } /* Keyword.Declaration */
.listingblock .pygments .tok-kn { color: #f92672 } /* Keyword.Namespace */
.listingblock .pygments .tok-kp { color: #66d9ef } /* Keyword.Pseudo */
.listingblock .pygments .tok-kr { color: #66d9ef } /* Keyword.Reserved */
.listingblock .pygments .tok-kt { color: #66d9ef } /* Keyword.Type */
.listingblock .pygments .tok-ld { color: #e6db74 } /* Literal.Date */
.listingblock .pygments .tok-m { color: #ae81ff } /* Literal.Number */
.listingblock .pygments .tok-s { color: #e6db74 } /* Literal.String */
.listingblock .pygments .tok-na { color: #a6e22e } /* Name.Attribute */
.listingblock .pygments .tok-nb { color: #f8f8f2 } /* Name.Builtin */
.listingblock .pygments .tok-nc { color: #a6e22e } /* Name.Class */
.listingblock .pygments .tok-no { color: #66d9ef } /* Name.Constant */
.listingblock .pygments .tok-nd { color: #a6e22e } /* Name.Decorator */
.listingblock .pygments .tok-ni { color: #f8f8f2 } /* Name.Entity */
.listingblock .pygments .tok-ne { color: #a6e22e } /* Name.Exception */
.listingblock .pygments .tok-nf { color: #a6e22e } /* Name.Function */
.listingblock .pygments .tok-nl { color: #f8f8f2 } /* Name.Label */
.listingblock .pygments .tok-nn { color: #f8f8f2 } /* Name.Namespace */
.listingblock .pygments .tok-nx { color: #a6e22e } /* Name.Other */
.listingblock .pygments .tok-py { color: #f8f8f2 } /* Name.Property */
.listingblock .pygments .tok-nt { color: #f92672 } /* Name.Tag */
.listingblock .pygments .tok-nv { color: #f8f8f2 } /* Name.Variable */
.listingblock .pygments .tok-ow { color: #f92672 } /* Operator.Word */
.listingblock .pygments .tok-w { color: #f8f8f2 } /* Text.Whitespace */
.listingblock .pygments .tok-mb { color: #ae81ff } /* Literal.Number.Bin */
.listingblock .pygments .tok-mf { color: #ae81ff } /* Literal.Number.Float */
.listingblock .pygments .tok-mh { color: #ae81ff } /* Literal.Number.Hex */
.listingblock .pygments .tok-mi { color: #ae81ff } /* Literal.Number.Integer */
.listingblock .pygments .tok-mo { color: #ae81ff } /* Literal.Number.Oct */
.listingblock .pygments .tok-sb { color: #e6db74 } /* Literal.String.Backtick */
.listingblock .pygments .tok-sc { color: #e6db74 } /* Literal.String.Char */
.listingblock .pygments .tok-sd { color: #e6db74 } /* Literal.String.Doc */
.listingblock .pygments .tok-s2 { color: #e6db74 } /* Literal.String.Double */
.listingblock .pygments .tok-se { color: #ae81ff } /* Literal.String.Escape */
.listingblock .pygments .tok-sh { color: #e6db74 } /* Literal.String.Heredoc */
.listingblock .pygments .tok-si { color: #e6db74 } /* Literal.String.Interpol */
.listingblock .pygments .tok-sx { color: #e6db74 } /* Literal.String.Other */
.listingblock .pygments .tok-sr { color: #e6db74 } /* Literal.String.Regex */
.listingblock .pygments .tok-s1 { color: #e6db74 } /* Literal.String.Single */
.listingblock .pygments .tok-ss { color: #e6db74 } /* Literal.String.Symbol */
.listingblock .pygments .tok-bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.listingblock .pygments .tok-vc { color: #f8f8f2 } /* Name.Variable.Class */
.listingblock .pygments .tok-vg { color: #f8f8f2 } /* Name.Variable.Global */
.listingblock .pygments .tok-vi { color: #f8f8f2 } /* Name.Variable.Instance */
.listingblock .pygments .tok-il { color: #ae81ff } /* Literal.Number.Integer.Long */